<nav class="nav justify-content-center mt-2" style="background-color: #f77f00;">
    <a class="nav-link active" aria-current="page" href="/dashboard/users" style="color: #000000;">Users</a>
    <a class="nav-link" href="/dashboard/display" style="color: #000000;">Display Ads</a>
    <a class="nav-link" href="/dashboard/classified" style="color: #000000;">Classifieds</a>
    <a class="nav-link" href="/analytics" style="color: #000000;">Analytics</a>
</nav>