<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a href="/"><span class="navbar-brand mb-0 h1">Speakin' Out News Advertising Placement</span></a>
        <nav class="nav">
            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="/registeruser">Register</a>
            <a class="nav-link" href="/login">Login</a>
            @* <a class="nav-link" href="#">Logout</a> *@
            @* <a class="nav-link disabled" aria-disabled="true">You are logged in as Demond</a> *@
        </nav>
    </div>
</nav>
