@page "/"

<PageTitle>SON Advertising Placement</PageTitle>

@*
Todo:
1. Create Navbar component - done
2. Create login, logout, and logged-in-as components.
3. Create footer component - done
4. Create user and admin dashboard
5. Incorporate athentication and authorization
*@

<div class="d-grid gap-2 col-3 mt-5 mx-auto">
    <a href="/adform/Classified/1" class="btn btn-primary">Purchase Classified Ads</a>
    <a href="/adform/Display/1" class="btn btn-primary">Purchase Display Ads</a>
</div>
